<%- include("partials/header"); -%>
<h1>INICIO</h1>
<p><%= homeContent %></p>

<% postsPublished.forEach(function(post){ %>
    <% let urlTitle = post.title.toLowerCase(); %>
    <% let urlTitleReplaced = urlTitle.replace(/ /g, '-'); %>
    <% let postId = post._id; %>

<div class="box">
    <h2><a href="/posts/<%= postId %>"><%= post.title %></a></h2>
    <span class="little"> - <%= post.date %></span><span class="little"> - Por <%= post.autor %> -</span>

    <% let bodyLength = post.content.length; %>

    <% if(bodyLength>=100){ %>
        <% let bodyWith10Characters = post.content.slice(0, 100); %>
        <p><%= bodyWith10Characters + "..." %></p>
        <p><a href="/posts/<%= postId %>">Leer mas</a></p>
    <% }else{ %>
        
        <p><%= post.content %></p>
        <p><a href="/posts/<%= postId %>"> Leer mas</a></p>
    <% } %>
   
    
</div>
   
    
<% }); %>

<%- include("partials/footer"); -%>